# Note: this is an example unit

[Unit]
Description=Container for IOMIrea run API

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-%h/bin/docker stop %n
ExecStartPre=-%h/bin/docker rm %n
ExecStart=%h/bin/docker run --name %n --rm --pull always -p 127.0.0.1:8080:8080 \
                            -v %h/run-api/run_api/data/config.yaml:/code/run_api/data/config.yaml \
                            iomirea/run-api-public --enable-sentry

[Install]
WantedBy=multi-user.target
